CSDGM/FGDCschemas/fgdc-std-001.1-1999(bio)/bio.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<!--FGDC Biological Data Working Group, and USGS Biological Resources Division.  1999.  Content Standard for Digital Geospatial Metadata - Biological Data Profile, FGDC-STD-001.1-1999  Federal Geographic Data Committee-->
<!ELEMENT metadata (idinfo, dataqual?, spdoinfo?, spref?, eainfo?, distinfo*, metainfo)>
<!--Basic information about the data set-->
<!ELEMENT idinfo (citation, descript, timeperd, status, spdom?, keywords, taxonomy?, accconst, useconst, ptcontac?, browse*, datacred?, secinfo?, native?, crossref*, tool*)>
<!--Information to be used to reference the data set.-->
<!ELEMENT citation (citeinfo)>
<!--A characterization of the data set, including its intended use and limitations.-->
<!ELEMENT descript (abstract, purpose, supplinf?)>
<!--A brief narrative summary of the data set.-->
<!ELEMENT abstract (#PCDATA)>
<!--A summary of the intentions with which the data set was developed.-->
<!ELEMENT purpose (#PCDATA)>
<!--Other descriptive information about the data set.-->
<!ELEMENT supplinf (#PCDATA)>
<!--Time period(s) for which the data set corresponds to the currentness reference.-->
<!ELEMENT timeperd (timeinfo, current)>
<!--The basis on which the time period of content information is determined.-->
<!ELEMENT current (#PCDATA)>
<!--The state of and maintenance information for the data set.-->
<!ELEMENT status (progress, update)>
<!--The state of the data set.-->
<!ELEMENT progress (#PCDATA)>
<!--The frequency with which changes and additions are made to the data set after the initial data set is completed.-->
<!ELEMENT update (#PCDATA)>
<!--The geographic areal domain of the data set.-->
<!ELEMENT spdom (descgeog, bounding, dsgpoly*)>
<!--Short description of the geographic areal domain of the data set.  Examples include, &apos;Manistee River watershed&apos; or &apos;extent of 7.5 minute quads containing any property belonging to Yellowstone National Park&apos;.  This is especially important when the extent of the data set is not well described by the &apos;Bounding Rectangle Coordinates&apos;.-->
<!ELEMENT descgeog (#PCDATA)>
<!--The limits of coverage of a data set expressed by altitude.-->
<!ELEMENT boundalt (altmin, altmax, altunits)>
<!--The minimum altitude extent of coverage.-->
<!ELEMENT altmin (#PCDATA)>
<!--The maximum elevation extent of coverage.-->
<!ELEMENT altmax (#PCDATA)>
<!--The limits of coverage of a data set expressed by latitude and longitude values in the order western-most, eastern-most, northern-most, and southern-most. For data sets that include a complete band of latitude around the earth, the West Bounding Coordinate shall be assigned the value -180.0, and the East Bounding Coordinate shall be assigned the value 180.0.-->
<!ELEMENT bounding (westbc, eastbc, northbc, southbc, boundalt?)>
<!--Western-most coordinate of the limit of coverage expressed in longitude.-->
<!ELEMENT westbc (#PCDATA)>
<!--Eastern-most coordinate of the limit of coverage expressed in longitude.-->
<!ELEMENT eastbc (#PCDATA)>
<!--Northern-most coordinate of the limit of coverage expressed in latitude.-->
<!ELEMENT northbc (#PCDATA)>
<!--Southern-most coordinate of the limit of coverage expressed in latitude.-->
<!ELEMENT southbc (#PCDATA)>
<!--Coordinates defining the outline of an area covered by a data set.-->
<!ELEMENT dsgpoly (dsgpolyo, dsgpolyx*)>
<!--The closed nonintersecting boundary of an interior area.-->
<!ELEMENT dsgpolyo ((grngpoin, grngpoin, grngpoin, grngpoin+) | gring)>
<!--A single geographic location.-->
<!ELEMENT grngpoin (gringlat, gringlon)>
<!--The latitude of a point of the G-ring.-->
<!ELEMENT gringlat (#PCDATA)>
<!--The longitude of a point of the G-ring.-->
<!ELEMENT gringlon (#PCDATA)>
<!--A set of ordered pairs of floating-point numbers, separated by commas, in which the first number in each pair is the longitude of a point and the second is the latitude of the point.  Longitude and latitude are specified in decimal degrees with north latitudes positive and south negative, east longitude positive and west negative.-->
<!ELEMENT gring (#PCDATA)>
<!--The closed nonintersecting boundary of a void area (or &apos;hole&apos; in an interior area).-->
<!ELEMENT dsgpolyx ((grngpoin, grngpoin, grngpoin, grngpoin+) | gring)>
<!--Words or phrases summarizing an aspect of the data set.-->
<!ELEMENT keywords (theme+, place*, stratum*, temporal*)>
<!--Subjects covered by the data set (for a list of some commonly-used thesauri, see Part IV:  Subject/index term sources in Network Development and MARC Standards Office, 1988, USMARC code list for relators, sources, and description conventions:  Washington, Library of Congress).-->
<!ELEMENT theme (themekt, themekey+)>
<!--Reference to a formally registered thesaurus or a similar authoritative source of theme keywords.-->
<!ELEMENT themekt (#PCDATA)>
<!--Common-use word or phrase used to describe the subject of the data set.-->
<!ELEMENT themekey (#PCDATA)>
<!--Geographic locations characterized by the data set.-->
<!ELEMENT place (placekt, placekey+)>
<!--Reference to a formally registered thesaurus or a similar authoritative source of place keywords.-->
<!ELEMENT placekt (#PCDATA)>
<!--The geographic name of a location covered by a data set.-->
<!ELEMENT placekey (#PCDATA)>
<!--Layered, vertical locations characterized by the data set.-->
<!ELEMENT stratum (stratkt, stratkey+)>
<!--Reference to a formally registered thesaurus or a similar authoritative source of stratum keywords.-->
<!ELEMENT stratkt (#PCDATA)>
<!--The name of a vertical location used to describe the locations covered by a data set.-->
<!ELEMENT stratkey (#PCDATA)>
<!--Time period(s) characterized by the data set.-->
<!ELEMENT temporal (tempkt, tempkey+)>
<!--Reference to a formally registered thesaurus or a similar authoritative source of temporal keywords.-->
<!ELEMENT tempkt (#PCDATA)>
<!--The name of a time period covered by a data set.-->
<!ELEMENT tempkey (#PCDATA)>
<!--Information on the taxa (1 or more) included in the data set, including keywords, taxonomic  system and coverage information, and taxonomic classification system.-->
<!ELEMENT taxonomy (keywtax+, taxonsys?, taxongen?, taxoncl)>
<!--Taxonomic ranks or common groups characterized by the data set.-->
<!ELEMENT keywtax (taxonkt, taxonkey+)>
<!--Documentation of taxonomic sources, procedures, and treatments.-->
<!ELEMENT taxonsys (classsys+, idref*, ider*, taxonpro, taxoncom?, vouchers*)>
<!--Information about the classification system or authority used.-->
<!ELEMENT classsys (classcit, classmod?)>
<!--A citation for the classification system or authority used, this might include monographs (e.g. a regional flora) or on-line data sets (e.g. the USDA PLANTS database), etc.-->
<!ELEMENT classcit (citeinfo)>
<!--A description of any modifications or exceptions made to the classification or authority used.-->
<!ELEMENT classmod (#PCDATA)>
<!--Reference to a formally registered thesaurus or similar authoritative source of taxonomic keywords.-->
<!ELEMENT taxonkt (#PCDATA)>
<!--Common-use words or phrases describing the taxonomy covered by the data set.-->
<!ELEMENT taxonkey (#PCDATA)>
<!--Information on any non-authoritative materials (e.g.field guides) useful for reconstructing the actual identification process.-->
<!ELEMENT idref (citeinfo)>
<!--Information about the individual(s) responsible for the identification(s) of the specimens or sightings, etc.-->
<!ELEMENT ider (cntinfo)>
<!--Description of the methods used for the taxonomic identification. Could include specimen processing, comparison with museum materials, keys and key characters, chemical or genetic analysis, etc.-->
<!ELEMENT taxonpro (#PCDATA)>
<!--Information concerning the proportions and treatment of unidentified materials (i.e. materials sent to experts, and not yet determined); estimates of the importance, and identities of misidentifications, uncertain determinations, synonyms or other incorrect usages; taxa not well treated or requiring further work; and expertise of field workers.-->
<!ELEMENT taxoncom (#PCDATA)>
<!--Information on the types of specimen, the repository, and the individuals who identified the vouchers.-->
<!ELEMENT vouchers (specimen, reposit)>
<!--A word or phrase describing the type of specimen collected (e.g. herbarium specimens, blood samples, photographs, individuals, or batches).-->
<!ELEMENT specimen (#PCDATA)>
<!--Information about the curator or contact person and/or agency responsible for the specimens.-->
<!ELEMENT reposit (cntinfo)>
<!--A description of the range of taxa addressed in the data set or collection.  For example,\&apos;all vascular plants were identified to family or species, mosses and lichens were identified as moss or lichen.-->
<!ELEMENT taxongen (#PCDATA)>
<!--Information about the range of taxa addressed in the data set or collection.  It is recommended that one provide information starting from the taxonomic rank of kingdom, to a level which reflects the data set or collection being documented.-->
<!ELEMENT taxoncl (taxonrn, taxonrv, common*, taxoncl*)>
<!--The name of the taxonomic rank for which the Taxon Rank Value is provided.-->
<!ELEMENT taxonrn (#PCDATA)>
<!--The name representing the taxonomic rank of the taxon being described.-->
<!ELEMENT taxonrv (#PCDATA)>
<!--Specification of applicable common names.  These common names may be general descriptions of a group of organisms if appropriate (e.g. insects, vertebrate, grasses, waterfowl, vascular plants, etc.)-->
<!ELEMENT common (#PCDATA)>
<!--Restrictions and legal prerequisites for accessing the data set. These include any access constraints applied to assure the protection of privacy or intellectual property, and any special restrictions or limitations on obtaining the data set.-->
<!ELEMENT accconst (#PCDATA)>
<!--Restrictions and legal prerequisites for using the data set after access is granted. These include any use constraints applied to assure the protection of privacy or intellectual property, and any special restrictions or limitations on using the data set.-->
<!ELEMENT useconst (#PCDATA)>
<!--Contact information for an individual or organization that is knowledgeable about the data set.-->
<!ELEMENT ptcontac (cntinfo)>
<!--A graphic that provides an illustration of the data set. The graphic should include a legend for interpreting the graphic.-->
<!ELEMENT browse (browsen, browsed, browset)>
<!--Name of a related graphic file that provides an illustration of the data set.-->
<!ELEMENT browsen (#PCDATA)>
<!--A text description of the illustration.-->
<!ELEMENT browsed (#PCDATA)>
<!--Graphic file type of a related graphic file.-->
<!ELEMENT browset (#PCDATA)>
<!--Recognition of those who contributed to the data set.-->
<!ELEMENT datacred (#PCDATA)>
<!--Handling restrictions imposed on the data set because of national security, privacy, or other concerns-->
<!ELEMENT secinfo (secsys, secclass, sechandl)>
<!--Name of the classification system.-->
<!ELEMENT secsys (#PCDATA)>
<!--Name of the handling restrictions on the data set.-->
<!ELEMENT secclass (#PCDATA)>
<!--Additional information about the restrictions on handling the data set.-->
<!ELEMENT sechandl (#PCDATA)>
<!--A description of the data set in the producer&apos;s processing environment, including items such as: name of the software (including version), computer operating system, file name (including host-, path-, and filenames), data set size.-->
<!ELEMENT native (#PCDATA)>
<!--Information about other, related data sets that are likely to be of interest.-->
<!ELEMENT crossref (citeinfo)>
<!--Tools, models, or statistical procedures that the data set is intrinsically bound to and are available for use in analyzing the data set.  Enough information should be included such that a potential data user can easily determine why they might wish to acquire the analytical tool, and the methodology to acquire it.-->
<!ELEMENT tool (tooldesc, toolacc, toolcont?, toolcite?)>
<!--Description of the analytical tool, model, or statistical procedure.-->
<!ELEMENT tooldesc (#PCDATA)>
<!--Information on the steps required to access the tool.-->
<!ELEMENT toolacc (onlink*, toolinst, toolcomp?)>
<!--Instructions on the steps required to access the tool, model, or statistical procedure.-->
<!ELEMENT toolinst (#PCDATA)>
<!--The brand of computer and its operating system that the tool, model, or statistical procedure requires.-->
<!ELEMENT toolcomp (#PCDATA)>
<!--The party from whom the tool, model, or statistical procedure may be obtained.-->
<!ELEMENT toolcont (cntinfo)>
<!--Citation information about the tool, model, or statistical procedure.-->
<!ELEMENT toolcite (citeinfo)>
<!--A general assessment of the quality of the data set.  (Recommendations on information to be reported and tests to be performed are found in &apos;Spatial Data Quality,&apos; which is Chapter 3 of Part 1 in Department of Commerce, 1992, Spatial Data Transfer Standard (SDTS) (Federal Information Processing Standard 173):  Washington, Department of Commerce, National Institute of Standards and Technology.)-->
<!ELEMENT dataqual (attracc?, logic, complete, posacc?, lineage, cloud?)>
<!--An assessment of the accuracy of the identification of entities and assignment of attribute values in the data set.-->
<!ELEMENT attracc (attraccr, qattracc*)>
<!--An explanation of the accuracy of the identification of the entities and assignments of values in the data set and a description of the tests used.-->
<!ELEMENT attraccr (#PCDATA)>
<!--A value assigned to summarize the accuracy of the identification of the entities and assignments of values in the data set and the identification of the test that yielded the value.-->
<!ELEMENT qattracc (attraccv, attracce)>
<!--An estimate of the accuracy of the identification of the entities and assignments of attribute values in the data set.-->
<!ELEMENT attraccv (#PCDATA)>
<!--The identification of the test that yielded the Attribute Accuracy Value.-->
<!ELEMENT attracce (#PCDATA)>
<!--An explanation of the fidelity of relationships in the data set and tests used.-->
<!ELEMENT logic (#PCDATA)>
<!--Information about omissions, selection criteria, generalization, definitions used, and other rules used to derive the data set.-->
<!ELEMENT complete (#PCDATA)>
<!--An assessment of the accuracy of the positions of spatial objects.-->
<!ELEMENT posacc (horizpa?, vertacc?)>
<!--Estimate of accuracy of the horizontal positions of the spatial objects.-->
<!ELEMENT horizpa (horizpar, qhorizpa*)>
<!--An explanation of the accuracy of the horizontal coordinate measurements and a description of the tests used.-->
<!ELEMENT horizpar (#PCDATA)>
<!--Numeric value assigned to summarize the accuracy of the horizontal coordinate measurements and the identification of the test that yielded the value.-->
<!ELEMENT qhorizpa (horizpav, horizpae)>
<!--An estimate of the accuracy of the horizontal coordinate measurements in the data set expressed in (ground) meters.-->
<!ELEMENT horizpav (#PCDATA)>
<!--The identification of the test that yielded the Horizontal Positional Accuracy Value.-->
<!ELEMENT horizpae (#PCDATA)>
<!--An estimate of accuracy of the vertical positions in the data set.-->
<!ELEMENT vertacc (vertaccr, qvertpa*)>
<!--An explanation of the accuracy of the vertical coordinate measurements and a description of the tests used.-->
<!ELEMENT vertaccr (#PCDATA)>
<!--Numeric value assigned to summarize the accuracy of vertical coordinate measurements and the identification of the test that yielded the value.-->
<!ELEMENT qvertpa (vertaccv, vertacce)>
<!--An estimate of the accuracy of the vertical coordinate measurements in the data set expressed in (ground) meters.-->
<!ELEMENT vertaccv (#PCDATA)>
<!--The identification of the test that yielded the Vertical Positional Accuracy Value.-->
<!ELEMENT vertacce (#PCDATA)>
<!--Information about the events, parameters, and source data which constructed the data set,  and information about the responsible parties.-->
<!ELEMENT lineage (method*, srcinfo*, procstep+)>
<!--Information about a single step of field and/or laboratory work.-->
<!ELEMENT method (methtype, methodid*, methdesc, methcite*)>
<!--The type of methodology being documented, such as field or laboratory methodology.-->
<!ELEMENT methtype (#PCDATA)>
<!--Keywords or phrases summarizing the field or laboratory methods used.-->
<!ELEMENT methodid (methkt, methkey+)>
<!--Reference to a formally registered thesaurus or a similar authoritative source of methodology keywords.-->
<!ELEMENT methkt (#PCDATA)>
<!--The name of a method used in the field or laboratory work.-->
<!ELEMENT methkey (#PCDATA)>
<!--Equivalent to &apos;Materials and Methods&apos; in a journal article.  Describe the physical methods used to gather the data, the experimental design, sample frequency, treatments or strata, statistical and spatial design of the sampling, and sample completeness, representativeness, and biases.-->
<!ELEMENT methdesc (#PCDATA)>
<!--Information referencing the methods used.-->
<!ELEMENT methcite (citeinfo)>
<!--List of sources and a short discussion of the information contributed by each.-->
<!ELEMENT srcinfo (srccite, srcscale?, typesrc, srctime, srccitea, srccontr)>
<!--Reference for a source data set.-->
<!ELEMENT srccite (citeinfo)>
<!--The denominator of the representative fraction on a map scale (for example, on a 1:24,000-scale map, the Source Scale Denominator is 24000).-->
<!ELEMENT srcscale (#PCDATA)>
<!--The medium of the source data set.-->
<!ELEMENT typesrc (#PCDATA)>
<!--Time period(s) for which the source data set corresponds to the ground.-->
<!ELEMENT srctime (timeinfo, srccurr)>
<!--The basis on which the source time period of content information of the source data set is determined.-->
<!ELEMENT srccurr (#PCDATA)>
<!--Short-form alias for the source citation.-->
<!ELEMENT srccitea (#PCDATA)>
<!--Brief statement identifying the information contributed by the source to the data set.-->
<!ELEMENT srccontr (#PCDATA)>
<!--Information about a single event.-->
<!ELEMENT procstep (procdesc, srcused*, procdate, proctime?, srcprod*, proccont?)>
<!--An explanation of the event and related parameters or tolerances.-->
<!ELEMENT procdesc (#PCDATA)>
<!--The Source Citation Abbreviation of a data set used in the processing step.-->
<!ELEMENT srcused (#PCDATA)>
<!--The date when the event was completed.-->
<!ELEMENT procdate (#PCDATA)>
<!--The time when the event was completed.-->
<!ELEMENT proctime (#PCDATA)>
<!--The Source Citation Abbreviation of an intermediate data set that (1) is significant in the opinion of the data producer, (2) is generated in the processing step, and (3) is used in later processing steps.-->
<!ELEMENT srcprod (#PCDATA)>
<!--The party responsible for the processing step information.-->
<!ELEMENT proccont (cntinfo)>
<!--Area of a data set obstructed by clouds, expressed as a percentage of the spatial extent.-->
<!ELEMENT cloud (#PCDATA)>
<!--The mechanism used to represent spatial information in the data set.-->
<!ELEMENT spdoinfo (indspref?, (direct, (ptvctinf | rastinfo)?)?)>
<!--Name of types of geographic features, addressing schemes, or other means through which locations are referenced in the data set.-->
<!ELEMENT indspref (#PCDATA)>
<!--The system of objects used to represent space in the data set.-->
<!ELEMENT direct (#PCDATA)>
<!--The types and numbers of vector or nongridded point spatial objects in the data set.-->
<!ELEMENT ptvctinf (sdtsterm+ | vpfterm)>
<!--&quot;Point and vector object information using the terminology and concepts from &apos;Spatial Data Concepts,&apos; which is Chapter 2 of Part 1 in Department of Commerce, 1992, Spatial Data Transfer Standard (SDTS) (Federal Information Processing Standard 173):  Washington, Department of Commerce, National Institute of Standards and  Technology.  (Note that this reference to the SDTS is used ONLY to provide a set of terminology for the point and vector objects.-->
<!ELEMENT sdtsterm (sdtstype, ptvctcnt?)>
<!--Name of point and vector spatial objects used to locate zero-, one-, and two-dimensional spatial locations in the data set.-->
<!ELEMENT sdtstype (#PCDATA)>
<!--&quot;The total number of the point or vector object type occurring in the data set.-->
<!ELEMENT ptvctcnt (#PCDATA)>
<!--Point and vector object information using the terminology and concepts from Department of Defense, 1992, Vector Product Format (MIL-STD-600006): Philadelphia, Department of Defense, Defense Printing Service Detachment Office.  (Note that this reference to the VPF is used ONLY to provide a set of terminology for the point and vector objects.)-->
<!ELEMENT vpfterm (vpflevel, vpfinfo+)>
<!--&quot;The completeness of the topology carried by the data set.  The levels of completeness are defined in Department of Defense, 1992, Vector Product Format (MIL-STD-600006):  Philadelphia, Department of Defense, Defense Printing Service Detachment Office.-->
<!ELEMENT vpflevel (#PCDATA)>
<!--Information about VPF point and vector objects.-->
<!ELEMENT vpfinfo (vpftype, ptvctcnt?)>
<!--Name of point and vector spatial objects used to locate zero-, one- and two-dimensional spatial locations in the data set.-->
<!ELEMENT vpftype (#PCDATA)>
<!--The types and numbers of raster spatial objects in the data set.-->
<!ELEMENT rastinfo (rasttype, (rowcount, colcount, vrtcount?)?)>
<!--Raster spatial objects used to locate zero-, two-, or three-dimensional locations in the data set.-->
<!ELEMENT rasttype (#PCDATA)>
<!--The maximum number of raster objects along the ordinate (y) axis.  For use with rectangular raster objects.-->
<!ELEMENT rowcount (#PCDATA)>
<!--The maximum number of raster objects along the abscissa (x) axis. For use with rectangular raster objects.-->
<!ELEMENT colcount (#PCDATA)>
<!--&quot;The maximum number of raster objects along the vertical (z) axis.  For use with rectangular volumetric raster objects (voxels).-->
<!ELEMENT vrtcount (#PCDATA)>
<!--The description of the reference frame for, and the means to encode, coordinates in the data set.-->
<!ELEMENT spref (horizsys?, vertdef?)>
<!--The reference frame or system from which linear or angular quantities are measured and assigned to the position that a point occupies.-->
<!ELEMENT horizsys ((geograph | planar+ | local), geodetic?)>
<!--The quantities of latitude and longitude which define the position of a point on the Earth&apos;s surface with respect to a reference spheroid.-->
<!ELEMENT geograph (latres, longres, geogunit)>
<!--The minimum difference between two adjacent latitude values expressed in Geographic Coordinate Units of measure.-->
<!ELEMENT latres (#PCDATA)>
<!--The minimum difference between two adjacent longitude values expressed in Geographic Coordinate Units of measure.-->
<!ELEMENT longres (#PCDATA)>
<!--Units of measure used for the latitude and longitude values.-->
<!ELEMENT geogunit (#PCDATA)>
<!--The quantities of distances, or distances and angles, which define the position of a point on a reference plane to which the surface of the Earth has been projected.-->
<!ELEMENT planar ((mapproj | gridsys | localp), planci)>
<!--The systematic representation of all or part of the surface of the Earth on a plane or developable surface.-->
<!ELEMENT mapproj (mapprojn, (albers | azimequi | equicon | equirect | gvnsp | gnomonic | lamberta | lambertc | mercator | modsak | miller | obqmerc | orthogr | polarst | polycon | robinson | sinusoid | spaceobq | stereo | transmer | vdgrin | mapprojp))>
<!--Name of the map projection.-->
<!ELEMENT mapprojn (#PCDATA)>
<!--Contains parameters for the Albers Conical Equal Area projection.-->
<!ELEMENT albers ((stdparll, stdparll?), longcm, latprjo, feast, fnorth)>
<!--Contains parameters for the Azimuthal Equidistant projection.-->
<!ELEMENT azimequi (longcm, latprjo, feast, fnorth)>
<!--Contains parameters for the  Equidistant Conic projection.-->
<!ELEMENT equicon ((stdparll, stdparll?), longcm, latprjo, feast, fnorth)>
<!--Contains parameters for the  Equirectangular projection.-->
<!ELEMENT equirect (stdparll, longcm, feast, fnorth)>
<!--Contains parameters for the  General Vertical Near-sided Perspective projection.-->
<!ELEMENT gvnsp (heightpt, longpc, latprjc, feast, fnorth)>
<!--Contains parameters for the  Gnomonic projection.-->
<!ELEMENT gnomonic (longpc, latprjc, feast, fnorth)>
<!--Contains parameters for the  Lambert Azimuthal Equal Area projection.-->
<!ELEMENT lamberta (longpc, latprjc, feast, fnorth)>
<!--Contains parameters for the  Lambert Conformal Conic projection.-->
<!ELEMENT lambertc ((stdparll, stdparll?), longcm, latprjo, feast, fnorth)>
<!--Contains parameters for the  Mercator projection.-->
<!ELEMENT mercator ((stdparll | sfequat), longcm, feast, fnorth)>
<!--Contains parameters for the  Modified Stereographic for Alaska projection.-->
<!ELEMENT modsak (feast, fnorth)>
<!--Contains parameters for the Miller Cylindrical projection.-->
<!ELEMENT miller (longcm, feast, fnorth)>
<!--Contains parameters for the  Oblique Mercator projection.-->
<!ELEMENT obqmerc (sfctrlin, (obqlazim | obqlpt), latprjo, feast, fnorth)>
<!--Contains parameters for the  Orthographic projection.-->
<!ELEMENT orthogr (longpc, latprjc, feast, fnorth)>
<!--&quot;Contains parameters for the  Polar Stereographic projection.-->
<!ELEMENT polarst (svlong, (stdparll | sfprjorg), feast, fnorth)>
<!--Contains parameters for the  Polyconic projection.-->
<!ELEMENT polycon (longcm, latprjo, feast, fnorth)>
<!--Contains parameters for the  Robinson projection.-->
<!ELEMENT robinson (longpc, feast, fnorth)>
<!--Contains parameters for the  Sinusoidal projection.-->
<!ELEMENT sinusoid (longcm, feast, fnorth)>
<!--Contains parameters for the  Space Oblique Mercator (Landsat) projection.-->
<!ELEMENT spaceobq (landsat, pathnum, feast, fnorth)>
<!--Contains parameters for the  Stereographic projection.-->
<!ELEMENT stereo (longpc, latprjc, feast, fnorth)>
<!--Contains parameters for the  Transverse Mercator projection.-->
<!ELEMENT transmer (sfctrmer, longcm, latprjo, feast, fnorth)>
<!--Contains parameters for the  van der Grinten projection.-->
<!ELEMENT vdgrin (longcm, feast, fnorth)>
<!--A complete parameter set of the projection that was used for the data set.  The information provided shall include the names of the parameters and values used for the data set that describe the mathematical relationship between the earth and the plane or developable surface for the projection.-->
<!ELEMENT mapprojp (stdparll | longcm | latprjo | feast | fnorth | sfequat | heightpt | longpc | latprjc | sfctrlin | obqlazim | obqlpt | svlong | sfprjorg | landsat | pathnum | sfctrmer | otherprj)+>
<!--Line of constant latitude at which the surface of the Earth and the plane or developable surface intersect.-->
<!ELEMENT stdparll (#PCDATA)>
<!--The line of longitude at the center of a map projection generally used as the basis for constructing the projection.-->
<!ELEMENT longcm (#PCDATA)>
<!--Latitude chosen as the origin of rectangular coordinates for a map projection.-->
<!ELEMENT latprjo (#PCDATA)>
<!--The value added to all &apos;x&apos; values in the rectangular coordinates for a map projection.  This value frequently is assigned to eliminate negative numbers.  Expressed in the unit of measure identified in Planar Coordinate Units.-->
<!ELEMENT feast (#PCDATA)>
<!--The value added to all &apos;y&apos; values in the rectangular coordinates for a map projection.  This value frequently is assigned to eliminate negative numbers.  Expressed in the unit of measure identified in Planar Coordinate Units.-->
<!ELEMENT fnorth (#PCDATA)>
<!--A multiplier for reducing a distance obtained from a map by computation or scaling to the actual distance along the equator.-->
<!ELEMENT sfequat (#PCDATA)>
<!--Height of viewpoint above the Earth, expressed in meters.-->
<!ELEMENT heightpt (#PCDATA)>
<!--Longitude of the point of projection for azimuthal projections.-->
<!ELEMENT longpc (#PCDATA)>
<!--Latitude of the point of projection for azimuthal projections.-->
<!ELEMENT latprjc (#PCDATA)>
<!--A multiplier for reducing a distance obtained from a map by computation or scaling to the actual distance along the center line.-->
<!ELEMENT sfctrlin (#PCDATA)>
<!--Method used to describe the line along which an oblique mercator map projection is centered using the map projection origin and an azimuth.-->
<!ELEMENT obqlazim (azimangl, azimptl)>
<!--Angle measured clockwise from north, and expressed in degrees.-->
<!ELEMENT azimangl (#PCDATA)>
<!--Longitude of the map projection origin.-->
<!ELEMENT azimptl (#PCDATA)>
<!--Method used to describe the line along which an oblique mercator map projection is centered using two points near the limits of the mapped region that define the center line.-->
<!ELEMENT obqlpt ((obqllat, obqllong), (obqllat, obqllong))>
<!--Latitude of a point defining the oblique line.-->
<!ELEMENT obqllat (#PCDATA)>
<!--Longitude of a point defining the oblique line.-->
<!ELEMENT obqllong (#PCDATA)>
<!--Longitude to be oriented straight up from the North or South Pole.-->
<!ELEMENT svlong (#PCDATA)>
<!--A multiplier for reducing a distance obtained from a map by computation or scaling to the actual distance at the projection origin.-->
<!ELEMENT sfprjorg (#PCDATA)>
<!--Number of the Landsat satellite.  (Note:  This data element exists solely to provide a parameter needed to define the space oblique mercator projection.  It is not used to identify data originating from a remote sensing vehicle.)-->
<!ELEMENT landsat (#PCDATA)>
<!--Number of the orbit of the Landsat satellite. (Note: This data element exists solely to provide a parameter needed to define the space oblique mercator projection.  It is not used to identify data originating from a remote sensing vehicle.)-->
<!ELEMENT pathnum (#PCDATA)>
<!--A multiplier for reducing a distance obtained from a map by computation or scaling to the actual distance along the central meridian.-->
<!ELEMENT sfctrmer (#PCDATA)>
<!--A description of a projection, not defined elsewhere in the standard, that was used for the data set. The information provided shall include the name of the projection, names of parameters and values used for the data set, and the citation of the specification for the algorithms that describe the mathematical relationship between Earth and plane or developable surface for the projection.-->
<!ELEMENT otherprj (#PCDATA)>
<!--A plane-rectangular coordinate system usually based on, and mathematically adjusted to, a map projection so that geographic positions can be  readily transformed to and from plane coordinates.-->
<!ELEMENT gridsys (gridsysn, (utm | ups | spcs | arcsys | othergrd))>
<!--Name of the grid coordinate system.-->
<!ELEMENT gridsysn (#PCDATA)>
<!--A grid system based on the transverse mercator projection, applied between latitudes 84 degrees north and 80 degrees south on the Earth&apos;s surface.-->
<!ELEMENT utm (utmzone, transmer)>
<!--Identifier for the UTM zone.-->
<!ELEMENT utmzone (#PCDATA)>
<!--A grid system based on the polar stereographic projection, applied to the Earth&apos;s polar regions north of 84 degrees north and south of 80 degrees south.-->
<!ELEMENT ups (upszone, polarst)>
<!--Identifier for the UPS zone.-->
<!ELEMENT upszone (#PCDATA)>
<!--A plane-rectangular coordinate system established for each state in the United States by the National Geodetic Survey.-->
<!ELEMENT spcs (spcszone, (lambertc | transmer | obqmerc | polycon))>
<!--Identifier for the SPCS zone.-->
<!ELEMENT spcszone (#PCDATA)>
<!--The Equal Arc-second Coordinate System, a plane-rectangular coordinate system established in Department of Defense, 1990, Military specification ARC Digitized Raster Graphics (ADRG) (MIL-A-89007):  Philadelphia, Department of Defense, Defense Printing Service Detachment Office.-->
<!ELEMENT arcsys (arczone, (equirect | azimequi))>
<!--Identifier for the ARC Coordinate System Zone.-->
<!ELEMENT arczone (#PCDATA)>
<!--A complete description of a grid system, not defined elsewhere in this standard, that was used for the data set.  The information provided shall include the name of the grid system, the names of the parameters and values used for the data set, and the citation of the specification for the algorithms that describe the mathematical relationship between the Earth and the coordinates of the grid system.-->
<!ELEMENT othergrd (#PCDATA)>
<!--Any right-handed planar coordinate system of which the z-axis coincides with a plumb line through the origin that locally is aligned with the surface of the Earth.-->
<!ELEMENT localp (localpd, localpgi)>
<!--A description of the local planar system.-->
<!ELEMENT localpd (#PCDATA)>
<!--A description of the information provided to register the local planar system to the Earth (e.g. control points, satellite ephemeral data, inertial navigation data).-->
<!ELEMENT localpgi (#PCDATA)>
<!--Information about the coordinate system developed on the planar surface.-->
<!ELEMENT planci (plance, (coordrep | distbrep), plandu)>
<!--The means used to represent horizontal positions.-->
<!ELEMENT plance (#PCDATA)>
<!--The method of encoding the position of a point by measuring its distance from perpendicular reference axes (the &apos;coordinate pair&apos; and &apos;row and column&apos; methods).-->
<!ELEMENT coordrep (absres, ordres)>
<!--The (nominal) minimum distance between the &apos;x&apos; or column values of two adjacent points, expressed in Planar Distance Units of measure.-->
<!ELEMENT absres (#PCDATA)>
<!--The (nominal) minimum distance between the &apos;y&apos; or row values of two adjacent points, expressed in Planar Distance Units of measure.-->
<!ELEMENT ordres (#PCDATA)>
<!--A method of encoding the position of a point by measuring its distance and direction (azimuth angle) from another point.-->
<!ELEMENT distbrep (distres, bearres, bearunit, bearrefd, bearrefm)>
<!--The minimum distance measurable between two points, expressed Planar Distance Units of measure.-->
<!ELEMENT distres (#PCDATA)>
<!--The minimum angle measurable between two points, expressed in Bearing Units of measure.-->
<!ELEMENT bearres (#PCDATA)>
<!--Units of measure used for angles.-->
<!ELEMENT bearunit (#PCDATA)>
<!--Direction from which the bearing is measured.-->
<!ELEMENT bearrefd (#PCDATA)>
<!--Axis from which the bearing is measured.-->
<!ELEMENT bearrefm (#PCDATA)>
<!--Units of measure used for distances.-->
<!ELEMENT plandu (#PCDATA)>
<!--A description of any coordinate system that is not aligned with the surface of the Earth.-->
<!ELEMENT local (localdes, localgeo)>
<!--A description of the coordinate system and its orientation to the surface of the Earth.-->
<!ELEMENT localdes (#PCDATA)>
<!--A description of the information provided to register the local system to the Earth (e.g. control points, satellite ephemeral data, inertial navigation data).-->
<!ELEMENT localgeo (#PCDATA)>
<!--Parameters for the shape of the earth.-->
<!ELEMENT geodetic (horizdn?, ellips, semiaxis, denflat)>
<!--The identification given to the reference system used for defining the coordinates of points.-->
<!ELEMENT horizdn (#PCDATA)>
<!--Identification given to established representations of the Earth&apos;s shape.-->
<!ELEMENT ellips (#PCDATA)>
<!--Radius of the equatorial axis of the ellipsoid.-->
<!ELEMENT semiaxis (#PCDATA)>
<!--The denominator of the ratio of the difference between the equatorial and polar radii of the ellipsoid when the numerator is set to 1.-->
<!ELEMENT denflat (#PCDATA)>
<!--The reference frame or system from which vertical distances (altitudes or depths) are measured.-->
<!ELEMENT vertdef (altsys?, depthsys?)>
<!--&quot;The reference frame or system from which altitudes (elevations) are measured.  The term &apos;altitude&apos; is used instead of the common term &apos;elevation&apos; to conform to the terminology in Federal Information Processing Standards 70-1 and 173.-->
<!ELEMENT altsys (altdatum, altres+, altunits, altenc)>
<!--The identification given to the surface taken as the surface of reference from which altitudes are measured.-->
<!ELEMENT altdatum (#PCDATA)>
<!--The minimum distance possible between two adjacent altitude values, expressed in Altitude Distance Units of measure.-->
<!ELEMENT altres (#PCDATA)>
<!--Units in which altitudes are recorded.-->
<!ELEMENT altunits (#PCDATA)>
<!--The means used to encode the altitudes.-->
<!ELEMENT altenc (#PCDATA)>
<!--The reference frame or system from which depths are measured.-->
<!ELEMENT depthsys (depthdn, depthres+, depthdu, depthem)>
<!--The identification given to surface of reference from which depths are measured.-->
<!ELEMENT depthdn (#PCDATA)>
<!--The minimum distance possible between two adjacent depth values, expressed in Depth Distance Units of measure.-->
<!ELEMENT depthres (#PCDATA)>
<!--Units in which depths are recorded.-->
<!ELEMENT depthdu (#PCDATA)>
<!--The means used to encode depths.-->
<!ELEMENT depthem (#PCDATA)>
<!--Details about the information content of the data set, including the entity types, their attributes, and the domains from which attribute values may be assigned.-->
<!ELEMENT eainfo ((detailed+, overview*) | overview+)>
<!--Description of the entities, attributes, attribute values, and related characteristics encoded in the data set.-->
<!ELEMENT detailed (enttyp, attr*)>
<!--The definition and description of a set into which similar entity instances are classified.-->
<!ELEMENT enttyp (enttypl, enttypd, enttypds)>
<!--The name of the entity type.-->
<!ELEMENT enttypl (#PCDATA)>
<!--The description of the entity type.-->
<!ELEMENT enttypd (#PCDATA)>
<!--The authority of the definition.-->
<!ELEMENT enttypds (#PCDATA)>
<!--A defined characteristic of an entity.-->
<!ELEMENT attr (attrlabl, attrdef, attrdefs, attrdomv+, (begdatea, enddatea?)*, attrvai?, attrmfrq?)>
<!--The name of the attribute.-->
<!ELEMENT attrlabl (#PCDATA)>
<!--The description of the attribute.-->
<!ELEMENT attrdef (#PCDATA)>
<!--The authority of the definition.-->
<!ELEMENT attrdefs (#PCDATA)>
<!--The valid values that can be assigned for an attribute.-->
<!ELEMENT attrdomv (edom | rdom | codesetd | udom)>
<!--The members of an established set of valid values.-->
<!ELEMENT edom (edomv, edomvd, edomvds, attr*)+>
<!--The name or label of a member of the set.-->
<!ELEMENT edomv (#PCDATA)>
<!--The description of the value.-->
<!ELEMENT edomvd (#PCDATA)>
<!--The authority of the definition.-->
<!ELEMENT edomvds (#PCDATA)>
<!--The minimum and maximum values of a continuum of valid  values.-->
<!ELEMENT rdom (rdommin, rdommax, attrunit?, attrmres?, attr*)>
<!--The least value that the attribute can be assigned.-->
<!ELEMENT rdommin (#PCDATA)>
<!--The greatest value that the attribute can be assigned.-->
<!ELEMENT rdommax (#PCDATA)>
<!--The standard of measurement for an attribute value.-->
<!ELEMENT attrunit (#PCDATA)>
<!--The smallest unit increment to which an attribute value is measured.-->
<!ELEMENT attrmres (#PCDATA)>
<!--Reference to a standard or list which contains the members of an established set of valid values.-->
<!ELEMENT codesetd (codesetn, codesets)>
<!--The title of the codeset.-->
<!ELEMENT codesetn (#PCDATA)>
<!--The authority for the codeset.-->
<!ELEMENT codesets (#PCDATA)>
<!--Description of the values and reasons why they cannot be represented.-->
<!ELEMENT udom (#PCDATA)>
<!--Earliest or only date for which the attribute values are current.  In cases when a range of dates are provided, this is the earliest date for which the information is valid.-->
<!ELEMENT begdatea (#PCDATA)>
<!--Latest date for which the information is current.  Used in cases when a range of dates are provided.-->
<!ELEMENT enddatea (#PCDATA)>
<!--An assessment of the accuracy of the assignment of attribute values.-->
<!ELEMENT attrvai (attrva, attrvae)>
<!--An estimate of the accuracy of the assignment of attribute values.-->
<!ELEMENT attrva (#PCDATA)>
<!--The definition of the Attribute Value Accuracy measure and units, and a description of how the estimate was derived.-->
<!ELEMENT attrvae (#PCDATA)>
<!--The frequency with which attribute values are added.-->
<!ELEMENT attrmfrq (#PCDATA)>
<!--Summary of, and citation to detailed description of, the information content of the data set.-->
<!ELEMENT overview (eaover, eadetcit+)>
<!--Detailed summary of the information contained in a data set.-->
<!ELEMENT eaover (#PCDATA)>
<!--Reference to the complete description of the entity types, attributes, and attribute values for the data set.-->
<!ELEMENT eadetcit (#PCDATA)>
<!--Information about the distributor of and options for obtaining the data set.-->
<!ELEMENT distinfo (distrib, resdesc?, distliab, stdorder*, custom?, techpreq?, availabl?)>
<!--The party from whom the data set may be obtained.-->
<!ELEMENT distrib (cntinfo)>
<!--The identifier by which the distributor knows the data set.-->
<!ELEMENT resdesc (#PCDATA)>
<!--Statement of the liability assumed by the distributor.-->
<!ELEMENT distliab (#PCDATA)>
<!--The common ways in which the data set may be obtained or received, and related instructions and fee information.-->
<!ELEMENT stdorder ((nondig | digform+), fees, ordering?, turnarnd?)>
<!--The description of options for obtaining the data set on non-computer-compatible media.-->
<!ELEMENT nondig (#PCDATA)>
<!--The description of options for obtaining the data set on computer-compatible media.-->
<!ELEMENT digform (digtinfo, digtopt)>
<!--Description of the form of the data to be distributed.-->
<!ELEMENT digtinfo (formname, ((formvern | formverd), formspec?)?, asciistr?, formcont?, filedec?, transize?)>
<!--The name of the data transfer format.-->
<!ELEMENT formname (#PCDATA)>
<!--Version number of the format.-->
<!ELEMENT formvern (#PCDATA)>
<!--Date of the version of the format.-->
<!ELEMENT formverd (#PCDATA)>
<!--Name of a subset, profile, or product specification of the format.-->
<!ELEMENT formspec (#PCDATA)>
<!--Information about the content and format of an ASCII data file.-->
<!ELEMENT asciistr (recdel?, numheadl, deschead?, orienta, casesens, authent?, quotech?, datafiel+)>
<!--The character(s) which indicate the end of a record.-->
<!ELEMENT recdel (#PCDATA)>
<!--The number of lines at the beginning of the file before the data content actually begins.-->
<!ELEMENT numheadl (#PCDATA)>
<!--Description of the information content of the header lines.-->
<!ELEMENT deschead (#PCDATA)>
<!--Definition of the direction of information content as represented in the ASCII file. Typical data sets are represented in column-major format, where each attribute in the data set is represented as a column and each observation is a row.  In contrast, row-major data sets represent attributes as rows and observations as columns.-->
<!ELEMENT orienta (#PCDATA)>
<!--If the content of the data set is encoded in case-sensitive ASCII (the capital and small letters have meaning), then this element should contain &apos;y&apos; or &apos;Y&apos;, otherwise this element should contain &apos;n&apos; or &apos;N&apos;.-->
<!ELEMENT casesens (#PCDATA)>
<!--Information allowing verification of file contents to ensure accurate transmission of the file.  This is generally a named checksum that uses a standard algorithm or a cryptographic signature.  For example, a MD5 checksum could be provided and, if it matches a MD5 checksum calculated for the received file, one would conclude that the file is identical to the original.-->
<!ELEMENT authent (#PCDATA)>
<!--Character used to quote fields in the data representation so that the field delimiter can be used as part of the field value.  This character is typically a single quote mark or double quote mark.-->
<!ELEMENT quotech (#PCDATA)>
<!--Information describing the individual data fields (this would be equivalent to columns in most databases).-->
<!ELEMENT datafiel (dfieldnm, missingv?, (dfwidthd | dfwidth))>
<!--Name of the data field.  This name should be the same as an Attribute Label documented in Section 5.1.2 Attribute (within Detailed Description which is itself within Entity and Attribute Information).  The definition, domain, units of measure, and measurement resolution are all important pieces of information for ASCII file use.-->
<!ELEMENT dfieldnm (#PCDATA)>
<!--The code which represents missing data.-->
<!ELEMENT missingv (#PCDATA)>
<!--The character which indicates the end of the data field contents.-->
<!ELEMENT dfwidthd (#PCDATA)>
<!--The number of characters of the data field.-->
<!ELEMENT dfwidth (#PCDATA)>
<!--Description of the content of the data encoded in a format.-->
<!ELEMENT formcont (#PCDATA)>
<!--Recommendations of algorithms or processes (including means of obtaining these algorithms or processes) that can be applied to read or expand data sets to which data compression techniques have been applied.-->
<!ELEMENT filedec (#PCDATA)>
<!--The size, or estimated size, of the transferred data set in megabytes.-->
<!ELEMENT transize (#PCDATA)>
<!--The means and media by which a data set is obtained from the distributor.-->
<!ELEMENT digtopt (onlinopt | offoptn)+>
<!--Information required to directly obtain the data set electronically.-->
<!ELEMENT onlinopt (computer+, accinstr?, oncomp?)>
<!--Instructions for establishing communications with the distribution computer.-->
<!ELEMENT computer (networka | dialinst)>
<!--The electronic address from which the data set can be obtained from the distribution computer.-->
<!ELEMENT networka (networkr+)>
<!--The name of the file or service from which the data set can be obtained.-->
<!ELEMENT networkr (#PCDATA)>
<!--Information required to access the distribution computer remotely through telephone lines.-->
<!ELEMENT dialinst (lowbps, highbps?, numdata, numstop, parity, compress?, dialtel+, dialfile+)>
<!--Lowest or only speed for the connection&apos;s communication, expressed in bits per second.-->
<!ELEMENT lowbps (#PCDATA)>
<!--Highest speed for the connection&apos;s communication, expressed in bits per second.  Used in cases when a range of rates are provided.-->
<!ELEMENT highbps (#PCDATA)>
<!--Number of data bits in each character exchanged in the communication.-->
<!ELEMENT numdata (#PCDATA)>
<!--Number of stop bits in each character exchanged in the communication.-->
<!ELEMENT numstop (#PCDATA)>
<!--Parity error checking used in each character exchanged in the communication.-->
<!ELEMENT parity (#PCDATA)>
<!--Data compression available through the modem service to speed data transfer.-->
<!ELEMENT compress (#PCDATA)>
<!--The telephone number of the distribution computer.-->
<!ELEMENT dialtel (#PCDATA)>
<!--The name of a file containing the data set on the distribution computer.-->
<!ELEMENT dialfile (#PCDATA)>
<!--Instructions on the steps required to access the data set.-->
<!ELEMENT accinstr (#PCDATA)>
<!--The brand of distribution computer and its operating system.-->
<!ELEMENT oncomp (#PCDATA)>
<!--Information about media-specific options for receiving the data set.-->
<!ELEMENT offoptn (offmedia, reccap?, recfmt+, compat?)>
<!--Name of the media on which the data set can be received.-->
<!ELEMENT offmedia (#PCDATA)>
<!--The density of information to which data are written.  Used in cases where different recording capacities are possible.-->
<!ELEMENT reccap (recden+, recdenu)>
<!--The density in which the data set can be recorded.-->
<!ELEMENT recden (#PCDATA)>
<!--The units of measure for the recording density.-->
<!ELEMENT recdenu (#PCDATA)>
<!--The options available or method used to write the data set to the medium.-->
<!ELEMENT recfmt (#PCDATA)>
<!--Description of other limitations or requirements for using the medium.-->
<!ELEMENT compat (#PCDATA)>
<!--The fees and terms for retrieving the data set.-->
<!ELEMENT fees (#PCDATA)>
<!--General instructions and advice about, and special terms and services provided for, the data set by the distributor.-->
<!ELEMENT ordering (#PCDATA)>
<!--Typical turnaround time for the filling of an order.-->
<!ELEMENT turnarnd (#PCDATA)>
<!--Description of custom distribution services available, and the terms and conditions for obtaining these services.-->
<!ELEMENT custom (#PCDATA)>
<!--Description of any technical capabilities that the consumer must have to use the data set in the form(s) provided by the distributor.-->
<!ELEMENT techpreq (#PCDATA)>
<!--The time period when the data set will be available from the distributor.-->
<!ELEMENT availabl (timeinfo)>
<!--Information on the currentness of the metadata information, and the responsible party.-->
<!ELEMENT metainfo (metd, metrd?, metfrd?, metc, metstdn, metstdv, mettc?, metac?, metuc?, metsi?, metextns*)>
<!--The date that the metadata were created or last updated.-->
<!ELEMENT metd (#PCDATA)>
<!--The date of the latest review of the metadata entry.-->
<!ELEMENT metrd (#PCDATA)>
<!--The date by which the metadata entry should be reviewed.-->
<!ELEMENT metfrd (#PCDATA)>
<!--The party responsible for the metadata information.-->
<!ELEMENT metc (cntinfo)>
<!--The name of the metadata standard used to document the data set.-->
<!ELEMENT metstdn (#PCDATA)>
<!--Identification of the version of the metadata standard used to document the data set.-->
<!ELEMENT metstdv (#PCDATA)>
<!--Form used to convey time of day information in the metadata entry.  Used if time of day information is included in the metadata for a data set.-->
<!ELEMENT mettc (#PCDATA)>
<!--Restrictions and legal prerequisites for accessing the metadata.  These include any access constraints applied to assure the protection of privacy or intellectual property, and any special restrictions or limitations on obtaining the metadata.-->
<!ELEMENT metac (#PCDATA)>
<!--Restrictions and legal prerequisites for using the metadata after access is granted.  These include any metadata use constraints applied to assure the protection of privacy or intellectual property, and any special restrictions or limitations on using the metadata.-->
<!ELEMENT metuc (#PCDATA)>
<!--Handling restrictions imposed on the metadata because of national security,  privacy, or other concerns.-->
<!ELEMENT metsi (metscs, metsc, metshd)>
<!--Name of the classification system for the metadata.-->
<!ELEMENT metscs (#PCDATA)>
<!--Name of the handling restrictions on the metadata.-->
<!ELEMENT metsc (#PCDATA)>
<!--&quot;Additional information about the restrictions on handling the metadata.-->
<!ELEMENT metshd (#PCDATA)>
<!--A reference to extended elements to the standard which may be defined by a metadata producer or a user community.  Extended elements are elements outside the Standard, but needed by the metadata producer.  If extended elements are created, they must follow the guidelines in Appendix D, Guidelines for Creating Extended Elements to the Content Standard for Digital Geospatial Metadata.-->
<!ELEMENT metextns (onlink*, metprof?)>
<!ELEMENT onlink (#PCDATA)>
<!--The name given to a document that describes the application of the Standard to a specific user community.-->
<!ELEMENT metprof (#PCDATA)>
<!--The recommended reference to be used for the data set.-->
<!ELEMENT citeinfo (origin+, pubdate, pubtime?, title, edition?, geoform, serinfo?, pubinfo?, othercit?, onlink*, lworkcit?)>
<!--The name of an organization or individual that developed the data set.  If the name of editors or compilers are provided, the name must be followed by &apos;(ed.)&apos; or &apos;(comp.)&apos; respectively.-->
<!ELEMENT origin (#PCDATA)>
<!--The date when the data set is published or otherwise made available for release.-->
<!ELEMENT pubdate (#PCDATA)>
<!--The time of day when the data set is published or otherwise made available for release.-->
<!ELEMENT pubtime (#PCDATA)>
<!--The name by which the data set is known.-->
<!ELEMENT title (#PCDATA)>
<!--The version of the title.-->
<!ELEMENT edition (#PCDATA)>
<!--The mode in which the geospatial data are represented.-->
<!ELEMENT geoform (#PCDATA)>
<!--The identification of the series publication of which the data set is a part.-->
<!ELEMENT serinfo (sername, issue)>
<!--The name of the series publication of which the data set is a part.-->
<!ELEMENT sername (#PCDATA)>
<!--Information identifying the issue of the series publication of which the data set is a part.-->
<!ELEMENT issue (#PCDATA)>
<!--Publication details for published data sets.-->
<!ELEMENT pubinfo (pubplace, publish)>
<!--The name of the city (and state or province, and country, if needed to identify the city) where the data set  as published or released.-->
<!ELEMENT pubplace (#PCDATA)>
<!--The name of the individual or organization that published the data set.-->
<!ELEMENT publish (#PCDATA)>
<!--Other information required to complete the citation.-->
<!ELEMENT othercit (#PCDATA)>
<!--The name of an online computer resource that contains the data set.  Entries should follow the Uniform Resource Locator convention of the Internet.-->
<!--The information identifying a larger work in which the data set is included.-->
<!ELEMENT lworkcit (citeinfo)>
<!--Information about the date and time of an event.-->
<!ELEMENT timeinfo (sngdate | mdattim | rngdates)>
<!--Means of encoding a single date and time.-->
<!ELEMENT sngdate ((caldate, time?) | geolage)>
<!--The year (and optionally month, or month and day).-->
<!ELEMENT caldate (#PCDATA)>
<!--The hour (and optionally minute, or minute and second) of the day.-->
<!ELEMENT time (#PCDATA)>
<!--Means of encoding multiple individual dates and times.-->
<!ELEMENT mdattim ((sngdate, sngdate+))>
<!--Means of encoding a range of dates and times.-->
<!ELEMENT rngdates ((begdate, begtime?, enddate, endtime?) | (beggeol, endgeol))>
<!--The first year (and optionally month, or month and day) of the event.-->
<!ELEMENT begdate (#PCDATA)>
<!--The first hour (and optionally minute, or minute and second) of the day for the event.-->
<!ELEMENT begtime (#PCDATA)>
<!--The last year (and optionally month, or month and day) for the event.-->
<!ELEMENT enddate (#PCDATA)>
<!--The last hour (and optionally minute, or minute and  second) of the day for the event.-->
<!ELEMENT endtime (#PCDATA)>
<!--A name, code, or date describing an event or period in geologic time, expressed either as an absolute date calculated using a named dating method, or as a relative date that is drawn from stratigraphy or biostratigraphy.-->
<!ELEMENT geolage (geolscal, geolest, geolun?, geolexpl?, geolcit*)>
<!--Name of a recognized geologic time scale.  This includes &apos;Absolute&apos; as the name of the time scale for measuring geologic dates before the present and names of geologic dating systems that are arrangements of symbols or names in order of relative geologic time.-->
<!ELEMENT geolscal (#PCDATA)>
<!--Either an absolute geologic date or a relative geologic age name describing an event or period in geologic time based on the Geologic Time Scale.-->
<!ELEMENT geolest (#PCDATA)>
<!--The error estimate for the geologic time.  This should include the units of measure, a description of what the error estimate represents and how it was calculated.-->
<!ELEMENT geolun (#PCDATA)>
<!--The name and/or description of the method used to calculate the Geologic Age Estimate.  Detailed information about the method may be provided through references contained in the Geologic Citation.-->
<!ELEMENT geolexpl (#PCDATA)>
<!--Citation for works providing detailed information about any element of the Geologic Age.  For example, a publication describing the methodology used for carbon dating or describing the basic geologic time scale in more detail could be cited here.-->
<!ELEMENT geolcit (citeinfo)>
<!--A name, code, or date for the beginning of an event or period in geologic time.-->
<!ELEMENT beggeol (geolage)>
<!--A name, code, or date for the end of an event or period in geologic dates relevant to a data set.-->
<!ELEMENT endgeol (geolage)>
<!--Contact information for an individual or organization that is knowledgeable about the data set.-->
<!ELEMENT cntinfo ((cntperp | cntorgp), cntpos?, cntaddr+, cntvoice+, cnttdd*, cntfax*, cntemail*, hours?, cntinst?)>
<!--The person, and the affiliation of the person, associated with the data set. Used in cases where the association of the person to the data set is more significant than the association of the organization to the data set.-->
<!ELEMENT cntperp (cntper, cntorg?)>
<!--The name of the individual to which the contact type applies.-->
<!ELEMENT cntper (#PCDATA)>
<!--The name of the organization to which the contact type applies.-->
<!ELEMENT cntorg (#PCDATA)>
<!--The organization, and the member of the organization, associated with the data set.  Used in cases where the association of the organization to the data set is more significant than the association of the person to the data set.-->
<!ELEMENT cntorgp (cntorg, cntper?)>
<!--The title of individual.-->
<!ELEMENT cntpos (#PCDATA)>
<!--The address for the organization or individual.-->
<!ELEMENT cntaddr (addrtype, address*, city, state, postal, country?)>
<!--The information provided by the address.-->
<!ELEMENT addrtype (#PCDATA)>
<!--An address line for the address.-->
<!ELEMENT address (#PCDATA)>
<!--&quot;The city of the address.-->
<!ELEMENT city (#PCDATA)>
<!--The state or province of the address.-->
<!ELEMENT state (#PCDATA)>
<!--The ZIP or other postal code of the address.-->
<!ELEMENT postal (#PCDATA)>
<!--The country of the address.-->
<!ELEMENT country (#PCDATA)>
<!--The telephone number by which individuals can speak to the organization or individual-->
<!ELEMENT cntvoice (#PCDATA)>
<!--The telephone number by which hearing-impaired individuals can contact the organization or individual.-->
<!ELEMENT cnttdd (#PCDATA)>
<!--The telephone number of a facsimile machine of the organization or individual.-->
<!ELEMENT cntfax (#PCDATA)>
<!--The address of the electronic mailbox of the organization or individual.-->
<!ELEMENT cntemail (#PCDATA)>
<!--Time period when individuals can speak to the organization or individual.-->
<!ELEMENT hours (#PCDATA)>
<!--Supplemental instructions on how or when to contact the individual or organization.-->
<!ELEMENT cntinst (#PCDATA)>
